.plain-pattern.border-bottom
	.container
		%h1 About Swap my Vote
		
		%p Wasted votes are a massive problem in UK general elections - <a href="http://www.electoral-reform.org.uk/sites/default/files/files/publication/2015%20General%20Election%20Report%20web.pdf">three quarters were wasted in 2015</a>. This leads to voter apathy, low turnout, electoral deserts, and the need for tactical voting, amongst other problems. The national debate can be narrowed by parties targeting their policies towards centrist floating voters in marginal constituencies. In 2015, only a quarter of votes cast were necessary for the candidates to win; 50% of votes were for losing candidates and received no direct representation in Parliament. 

		%p Electoral reform is long overdue; 2011’s AV referendum did nothing to correct any of these issues.

		%p Referendums in 2014 and 2016 on Scottish Independence and EU membership showed strongly how many people turn out to vote when they know that it will count.

		%p Internet platforms have opened up previously undreamed-of ways for people to collaborate and share resources. Swap my Vote aims to bring some of the best aspects of the ‘Sharing Economy’ to the very workings of democracy. A radical and practical experiment, the <a href="http://swapmyvote.uk">Swap my Vote</a> platform uses social media to help pair voters who want to swap, each casting each other’s preferred vote where it counts for most.