.plain-pattern.border-bottom
  .container
    %h1 About Swap My Vote

    %p Wasted votes are a massive problem in UK general elections - <a href="https://www.electoral-reform.org.uk/latest-news-and-research/publications/the-2017-general-election-report/">68% were wasted in 2017 (that's 22 million votes)</a>, and eleven seats were decided by fewer than 100 votes. Our broken electoral system polarises the national debate, and leads to divisions in the very society it is supposed to represent.
    In 2015, only a quarter of votes cast were necessary for the candidates to win; 50% of votes were for losing candidates and received no direct representation in Parliament. Parties throw resources at marginal constituencies while neglecting safe seats and all kinds of consequences follow including voter apathy, low turnout, electoral deserts, and the need for tactical voting, amongst other problems.

    %p Electoral reform is long overdue; 2011’s AV referendum did nothing to correct any of these issues.

    %p Referendums in 2014 and 2016 on Scottish Independence and EU membership strongly indicated how popular voting can be when voters know that it will count. As did the 6.5 million people who <a href="https://news.sky.com/story/general-election-2017-6-5-million-voted-tactically-on-8-june-10998890>voted tactically</a> in 2017.

    %p The Internet has opened up previously undreamed-of ways for people to collaborate and share resources. Swap My Vote aims to bring some of the best aspects of the ‘Sharing Economy’ to the very workings of democracy. A radical and practical experiment, <a href="http://swapmyvote.uk">Swap My Vote</a> uses social media to help pair voters who want to swap, each casting each other’s preferred vote where it could count for more.

    %h1 More information
    %p A helpful <a href="http://j.mp/swapmyvote-inews2017">introduction</a> in the i Paper.
    %p A <a href="http://j.mp/swapmyvote-beginners“>guide for beginners</a> on how best to make Swap My Vote work for you.
    %p Developers & campaigns: our <a href="http://bit.ly/swapmyvote-api">API</a> allows your site to integrate Swap My Vote and help voters find a swap.
