.background-pattern.border-bottom
  .container.container-narrow
    %p
      Are you sure you want to delete your account? This will cancel any pending or confirmed swaps you have made.
    %p
      = link_to "Yes, delete my account", user_path, method: :delete, style: "color: red"