- content_for(:meta_og_description) do
  Make votes matter! Swap yours with someone in a constituency where both could count for more. You get to vote for who you really want, and help someone else do the same. Turn tactical voting into a win-win!
.plain-pattern.border-bottom
  .container
    %h2 Contact details

    %p
      Before contacting us, please first check our

      = link_to "FAQ", faq_path

      to see if your question has already been answered.

    %p
      If it hasn't, please get in touch with us at

      = link_to("hello@swapmyvote.uk", "mailto:hello@swapmyvote.uk") + "."

    %p
      We're only a small team of volunteers, but we'll try to get back to you as soon as possible.

    %p

      If you're experiencing difficulty using Swap My Vote,

      %strong
        please make sure to provide as much detail as possible about
        the steps you took leading up to the problem, and the exact
        nature of the problem.

      In particular error messages and screenshots / photos are really
      helpful.  The more detail we receive, the better the chance we
      have to help you!
