.plain-pattern.border-bottom
	.container
		%h2 Contact details
		
		%p
			Please get in touch with us at
			%a(href="mailto:hello@swapmyvote.uk") hello@swapmyvote.uk
		
		%p
			We're only a small team, but we'll try to get back to you as soon as
			possible.