- content_for(:meta_og_description) do
  Make votes matter! Swap yours with someone in a constituency where both could count for more. You get to vote for who you really want, and help someone else do the same. Turn tactical voting into a win-win!
.plain-pattern.border-bottom
  .container
    %h2 Contact details

    %p
      Please get in touch with us at
      %a(href="mailto:hello@swapmyvote.uk") hello@swapmyvote.uk

    %p
      We're only a small team of volunteers, but we'll try to get back to you as soon as possible.

    %p
      In the meantime, please check our

      = link_to "FAQ", faq_path

      to see if your question has already been answered.
