- content_for(:meta_og_description) do
  Make votes matter! Swap yours with someone in a constituency where both could count for more. You get to vote for who you really want, and help someone else do the same. Turn tactical voting into a win-win!
.plain-pattern.border-bottom
  .container
    %h1 Cookie Policy

    %p

      Cookies are files with small amount of data which may include an
      anonymous unique identifier. Cookies are sent to your browser
      from a website and stored on your device. Tracking technologies
      also used are beacons, tags, and scripts to collect and track
      information and to improve and analyze swapmyvote.

    %p

      You can instruct your browser to refuse all cookies or to
      indicate when a cookie is being sent. However, if you do not
      accept cookies, you may not be able to use some portions of our
      Service. You can learn more how to manage cookies in the

      = link_to("Browser Cookies Guide",
                "https://privacypolicies.com/blog/how-to-delete-cookies/",
                target: "_blank") + "."

    %h3 Types of cookie

    %p
      We use the following types of cookie:

    %dl
      %dt Essential cookies
      %dd

        These are cookies that are required for the operation of our
        website. They include, for example, cookies that enable you to
        log in to secure areas of our website, and access features
        specific to you.

      %dt Analytical cookies
      %dd

        These allow us to recognise and count the number of visitors
        and to see how visitors move around our website when they are
        using it. This helps us to improve the way our website works,
        for example, by ensuring that users are finding what they are
        looking for easily.

      %dt Functionality cookies
      %dd

        These are used to recognise you when you return to our
        website. This enables us to personalise our content for you.
        Currently we only use a functionality cookie to record whether
        you have consented to the use of cookies, but in the future we
        may use more to do things such as greet you by name and
        remember your preferences (for example, your choice of
        language or region).

    %h3 Cookie list

    %table
      %tr
        %th Cookie
        %th Name
        %th Description
      %tr
        %td Session
        %td
          %code _swapmyvote_session
        %td

          This cookie is essential since it allows us to associate you
          with both your login information and your preferences.

      %tr
        %td Cookie consent
        %td
          %code _swapmyvote_cookie_consent
        %td
          The cookie consent cookie means you have accepted cookies,
          so that we hide the annoying "accept cookies" message.

      %tr
        %td Google Analytics
        %td
          %code _ga
        %td
          The Google Analytics cookie allows us to store anonymised
          data for our analytics of how the website is used.

    %h3 Privacy policy

    See also

    = link_to("our privacy policy", privacy_path)

    for full details of how we manage personal data.
