.plain-pattern.border-bottom
  .container
    %h1 Cookie Policy

    %p
      Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and
      stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze swapmyvote.

    %p
      You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be
      able to use some portions of our Service. You can learn more how to manage cookies in the
      <a target=_blank, href="https://privacypolicies.com/blog/how-to-delete-cookies/">Browser Cookies Guide</a>.

    %h3 Types of cookie

    %p We use the following types of cookie

    %ul
    %li
      <strong>Essential cookies</strong> These are cookies that are required for the operation of our website. They include, for example, cookies
      that enable you to log in to secure areas of our website, and access features specific to you.
    %li
      <strong>Analytical cookies</strong> These allow us to recognise and count the number of visitors and to see how visitors move around our
      website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they
      are looking for easily.
    %li
      <strong>Functionality cookies</strong> These are used to recognise you when you return to our website. This enables us to personalise our
      content for you, greet you by name and remember your preferences (for example, your choice of language or region).


    %h3 Cookie list

    %table
      %tr
        %th Cookie
        %th Name
        %th Description
      %tr
        %td Session
        %td _swapmyvote_session
        %td The session cookie allows us to associate you with both your login information and your preferences
      %tr
        %td Cookie consent
        %td _swapmyvote_cookie_consent
        %td The cookie consent cookie means you have accepted cookies, so that we hide the annoying "accept cookies" message
      %tr
        %td Google analytics
        %td _ga
        %td The google analytics cookie allows us to store anonymised data for our analytics of how the website is used

