.plain-pattern.border-bottom
	.container
		%h1 FAQ

		%a{name: "legal"}
		%h2 Is this legal?
		%p Vote swapping has taken place informally since voting began, not least within parliaments. We know of no law against it (unlike selling your vote, or compelling someone to vote against their will, which are very much illegal!), and indeed in The USA vote swapping was found by the Supreme Court to be <a href="http://www.slate.com/articles/news_and_politics/net_election/2000/11/is_voteswapping_legal.html">protected speech under the First Amendment</a>. <a href="http://swapmyvote.uk">Swap my Vote</a> merely introduces two individuals to each other who have the relevant voting preferences; nothing changes hands and the secret ballot still stands: you are responsible for trusting your partner - and voting according to your conscience!

		%h2 Who are we?
		%p
			We are a loose knit group of people who care passionately about making democracy work better, and believe that new technologies (the Internet, social media, etc) can very much play their part in this. 
			%ul
				%li <a href="http://jpallen.net/">James Allen</a> is the lead developer of the project; he is the co-founder of <a href="https://www.sharelatex.com/">ShareLaTeX</a>, a collaborative platform for scientists, and holds a PhD in Theoretical Physics from Durham University. He is interested in how technology can make scientists more efficient.
				%li <a href=http://tdg.me/about>Tom de Grunwald</a> is a producer working in London, often in and around television; with a background in social media and broadcast projects (Unreported World, Downton Abbey, Radio 1Xtra); he also helped bring together the UK digital community in a <a href="http://bit.ly/dbuc">series of unconferences</a> to debate and influence the 2010 Digital Economy Act, <a href="">proposing the platform in a blog post</a> that year.

		%a{name: "trust"}
		%h2 How do I know my partner will vote (for who I want)?
		%p We have integrated the <a href="http://swapmyvote.uk">Swap my Vote</a> platform with the main public social networks used in the UK so that you can make contact with your partner - we are hoping that you can share enough about yourselves with each other that trust arises naturally. Maybe you’d let each other know what the most important policies to you, what you would like your vote to achieve, why you have decided to swap your vote; maybe you’ll let each other know when you’re heading down to the ballot and when you’ve voted. We’re hoping that this site will contribute to a greater sense of community amongst voters, all hoping to make the country run as well as possible for a better future. 
		
		%a{name: "parties"}
		%h2 How have you chosen which political parties to offer through Swap my Vote?
		%p Working out which parties to include in the swapmyvote.uk platform has not been straightforward: initially we prioritised parties that were fielding candidates in all constituencies across the UK. Then, particularly in the wake of the leaders debates, which uncovered hidden (English) demand for Scottish and Welsh parties, we have added SNP and Plaid Cymru. Inclusion in the platform is currently a trade off between simplicity for the end-voter and the time it takes to include parties; updating poll information is time consuming and we are at present a small team. Lastly, with the phenomenal demand for the platform, we have been working hard to make sure that other aspects of the site work as well as possible. Ultimately, Swap my Vote is devotedly non-partisan and aspires to as full inclusion as practically possible - thank you for bearing with us while we work towards this. 