.plain-pattern.border-bottom
	.container
		%h1 FAQ

		%a{name: "legal"}
		%h2 Is this legal?
		%p Yes. 
		%p Vote swapping has taken place informally since voting began, not least within parliaments. We know of no law against it (unlike selling your vote, or compelling someone to vote against their will, which are very much illegal!), and indeed in the USA, swapping votes has <a href="http://cdn.ca9.uscourts.gov/datastore/opinions/2007/08/06/0655517.pdf">been found</a> by the Appeals Court to be <a href="https://www.wired.com/2007/08/internet-vote-s/">protected speech</a> under the First Amendment. <a href="http://swapmyvote.uk">Swap my Vote</a> merely introduces two individuals to each other who have the relevant voting preferences; nothing changes hands, and the secret ballot still stands: you are responsible for trusting your partner - and voting according to your conscience!

		%a{name: "privacy"}
		%h2 Do my voting intentions stay private?
		%p Yes. Your voting intentions are sacred! 

		We do not publish anything on your behalf outside the Swap my Vote platform. 

		Sharing the site is voluntary and the 'share' buttons create a draft post with generic text which you can change before posting.  

		No data is shared with Facebook or Twitter about your voting preferences. 

		We only collect the minimum of data to allow us to find you a swap - see our policy <a href="http://www.swapmyvote.uk/privacy">here</a> for more about how we use cookies to monitor visits to the site.

		%a{name: "trust"}
		%h2 How do I know my partner will vote (for who I want)?
		%p We have integrated the <a href="http://swapmyvote.uk">Swap my Vote</a> platform with two of the biggest public social networks used in the UK so that you see that there is a real person at the other end of the swap, and potentially make contact with your partner. The kinds of thoughts and articles you share may help trust arise naturally. If you do make contact, perhaps let each other know what the most important policies to you, what you would like your vote to achieve, why you have decided to swap your vote. Some people even let each other know when the're heading down to the ballot and, on the day, there'll be a button you can use to automatically let each other know you've voted. We’re hoping that this site may contribute to a greater sense of community amongst voters, all hoping to make the country run as well as possible for a better future. 

		%a{name: "login"}
		%h2 Why do I need to log in with Facebook or Twitter and not (X)?
		%p We are trying to bring an element of trust to vote swapping (see above) - in order that your voting partner can have a sense of who you are, and vice versa, we currently ask that you log in with one of the two biggest public social networks used in the UK, Twitter and Facebook. This way you can see who each other are, and what kinds of issues are important to one another, and even get in contact, forming a mini-alliance. We are actively looking at further options for future elections (after 2017). 
		
		%a{name: "parties"}
		%h2 How have you chosen which political parties to offer through Swap my Vote?
		%p Working out which parties to include in the swapmyvote.uk platform has not been straightforward: initially we prioritised parties that were fielding candidates in all constituencies across the UK. Then, particularly in the wake of 2015's Leaders Debates, which uncovered hidden demand for Scottish and Welsh parties, we added SNP and Plaid Cymru. Inclusion in the platform is currently a trade-off between simplicity and the time it takes to include parties; updating poll information is time-consuming and we are at present a small team. Lastly, with the phenomenal demand for the platform, we have been working hard to make sure that other aspects of the site work as well as possible. Ultimately, Swap my Vote is devotedly non-partisan and aspires to as fully inclusive as practically possible - thank you for bearing with us while we work towards this. 

		%a{name: "reset"}
		%h2 My swap hasn't been confirmed. How can I reset or cancel my swap?
		%p If your partner hasn't confirmed the swap, it will now automatically cancel after 48 hours and we will email both parties to let them know to log in to find a new partner. 

		If you have changed your voting preferences or moved constituency (or if you would like to change partner) you can just update your info using the link that says "Not right? Update your info" and it will reset the swap, letting your partner know it has been cancelled. 

		%a{name: "working"}
		%h2 The timer keeps turning - is the site working?
		%p Yes. 
		%p The platform is either:- 
		1. Waiting for your proposed partner to confirm a swap - they only have <strike>48</strike> - <strike>24</strike> - now just 6 hours to do confirm and then you can find another
		2. Waiting for a new person with the appropriate (opposite) voting preferences to join up. You may wish to spread the word to encourage more people to join.

		%a{name: "better"}
		%h2 The swap I’ve been offered isn’t a good one - how can I find a better voting partner?
		%p You can just update your info using the link that says "Not right? Update your info" and it will reset the swap, letting your partner know it has been cancelled. You are then free to select another voting partner from the list.

		%a{name: "noone"}
		%h2 No-one is confirming a swap with me. What’s going on?
		%p People finding it hard to find a swap are often in quite safe seats - you may find it useful to think about experimenting with your 'willing' party - you can update your info using the link that says "Not right? Update your info" and we will try to find you new voting partners based on the new details. 

		%a{name: "deactivate"}
		%h2 I have changed my mind and no longer wish to find someone to swap with. What should I do? 
		%p You can deactivate your account by changing both of your party preferences to the same party <a href="http://swapmyvote.uk/">here</a>, so that a swap becomes meaningless and no-one is likely to suggest one.
		%p You can permanently remove your account at the page here: https://www.swapmyvote.uk/user/edit. Please note that you will no longer get emails from us with news on electoral reform or reminders for future elections.

		%a{name: "who"}
		%h2 Who made this site?
		%p
			We are a loose knit group of people who care passionately about making democracy work better, and believe that new technologies (the Internet, social media, etc) can very much play their part in this. 
			%ul
				%li <a href="http://jpallen.net/">James Allen</a> is the lead developer of the project; he is the co-founder of <a href="https://www.sharelatex.com/">ShareLaTeX</a>, a collaborative platform for scientists. He is interested in how technology can make people more efficient and enable new ways of communication and collaboration, like Swap my Vote.
				%li <a href=http://tdg.me/about>Tom de Grunwald</a> is a digital strategist and producer with a background in social media and broadcast projects (Unreported World, Downton Abbey, Radio 1Xtra…). Tom is passionate about using techology to help create positive social change. He is currently working with <a href="http://democracyclub.org.uk">Democracy Club</a> to help make information on voting more accessible, and developing a consultancy with a focus on digital social impact. 

				Tom and James met online by<a href="http://blog.swapmyvote.uk/post/116080891268/how-a-blog-post-became-a-platform-for-change">both having the idea for Swap my Vote</a> at different times, and still work together almost entirely remotely.
