.plain-pattern.border-bottom
	.container
		%h1 Privacy Policy

		%p We use technologies like cookies (small files stored on your browser), web beacons, or unique device identifiers to identify your computer or device so we can deliver a better experience. Our systems also log information like your browser, operating system and IP address.

		%p We also may collect personally identifiable information that you provide to us, such as your name, location and email address. If authorized by you, we may also access profile and other information from services like Facebook and Twitter.

		%p Our systems may associate this personal information with your activities in the course of providing service to you (such as pages you view or things you click on or search for).

		%p We do not knowingly contact or collect personal information from children under 13. If you believe we have inadvertently collected such information, please contact us so we can promptly obtain parental consent or remove the information.
		
		%p We use Google Analytics to analyse the use of this website. Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers. The information generated relating to our website is used to create reports about the use of the website. Google will store this information. Using the Google Ads Settings, visitors can opt-out of Google Analytics for Display Advertising and customize Google Display Network ads.  Google's privacy policy is available at: http://www.google.com/policies/privacy/.