.plain-pattern.border-bottom
  .container
    %h1 Privacy Policy

    %p
      We use technologies like cookies (small files stored on your browser), web beacons, or unique device identifiers to identify your computer or device so we can deliver a better experience. Our systems also log information like your browser, operating system and IP address.

    %p
      The Swap My Vote Application collects some Personal Data from its Users including voting preferences, constituency, name, profile picture, social network IDs, email address, and mobile phone number.

    %p
      The Application uses the phone number and email address to authenticate you. It uses the email address to contact you about your vote swaps and vote swapping partners. It may use the phone number to contact you during the election to confirm a swap or alert you to potential voting partners waiting for confirmation.

    %p
      At no time are your phone number or email address shown to anyone else. The other pieces of personal information help the Application to suggest prospective voting partners, and help users choose vote swapping partners.

    %p
      In doing this the Application may show prospective vote swapping partners your stated voting preferences, constituency, profile picture, and the social network(s) you used to log in.

    %p
      Part of your name is hidden and part of your name is shown, with the aim of helping establish trust between vote swapping partners.

    %p
      If authorized by you, we may also access profile and other information from services like Facebook and Twitter.

    %p
      Personally identifying information is collected only for the purposes of providing the Application and is never shared with third parties.

    %p
      We use anonymised data in aggregate to monitor usage of the Application and to discuss its political effects.

    %p
      Our systems may associate this personal information with your activities in the course of providing service to you (such as pages you view or things you click on or search for).

    %p
      To be able to register to vote, UK citizens must be aged 16. We do not knowingly contact or collect personal information from children under 13. If you believe we have inadvertently collected such information, please contact us so we can promptly obtain parental consent or remove the information.

    %p
      We use Google Analytics to analyse the use of this website. Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers. The information generated relating to our website is used to create reports about the use of the website. Google will store this information. Using the Google Ads Settings, visitors can opt-out of Google Analytics for Display Advertising and customize Google Display Network ads.
      Google's privacy policy is available at

      %a(href="http://www.google.com/policies/privacy/")
        http://www.google.com/policies/privacy/

    %p
      We use Mailchimp for communicating outside the platform. By opting in to hear from us in this way, you acknowledge that your information will be transferred to Mailchimp for processing. Learn more about Mailchimp's privacy practices at

      %a(href="https://mailchimp.com/legal/")
        https://mailchimp.com/legal/
    %p
      The Application stores some of your personal data on industry standard platforms including web and email servers. Access to these servers is strictly controlled with strong passwords and multi-factor authentication. Any temporary copies of data made for backup, diagnostic and other purposes by team members are kept on devices secured by strong passwords.

    %p
      You can

      = link_to("permanently remove your account",
                confirm_account_deletion_path)

      from the Swap My Vote Application. Your details will be removed entirely from the Application databases and you will no longer receive emails or SMS messages aimed at helping you find a voting partner.

    %p
      If you have opted to receive news from us about electoral reform, digital democracy tools, fundraising, and reminders for future elections, you can unsubscribe at any time from the unsubscribe link in the email footer.

    %p
      Owner and Data Controller

    %address
      Forward Democracy Limited
      %br/
      Studio Microclimate
      %br/
      Great Northern Road
      %br/
      Cambridge
      %br/
      United Kingdom
      %br/
      CB1 2FX

    %p
      Owner contact email: admin@forwarddemocracy.com
