.plain-pattern.border-bottom
  .container
    %h1 Terms of Use

    %h2 Who we are and how to contact us

    %p hello@swapmyvote.uk ("us", "we", or "our") operates the website https://www.swapmyvote.uk/, also known here as swapmyvote

    %p To contact us, please email hello@swapmyvote.uk

    %p By using our site, you confirm that you accept these terms of use and that you agree to comply with them.

    %p If you do not agree to these terms, you must not use our site.

    %p We recommend that you print a copy of these terms for future reference.

    %p These terms of use refer to the following additional terms, which also apply to your use of our site:

    %p

      Our <a target=_blank, href="/privacy">Privacy Policy</a>, which sets out the terms on which we process any personal data we collect from you, or that you
      provide to us. By using our site, you consent to such processing and you warrant that all data provided by you is accurate.

    %p Our <a target=_blank, href="/cookies">Cookie Policy</a>, which sets out information about the cookies on our site.

    %p We may make changes to these terms

    %p

      We amend these terms from time to time. Every time you wish to use our site, please check these terms to ensure you understand the terms that
      apply at that time.

    %p We may make changes to our site

    %p We may suspend or withdraw our site

    %p

      We do not guarantee that our site, or any content on it, will always be available or be uninterrupted. We may suspend or withdraw or restrict
      the availability of all or any part of our site for business and operational reasons. We will try to give you reasonable notice of any suspension
      or withdrawal.

    %p

      Our site is directed to people residing in the United Kingdom. We do not represent that content available on or through our site is appropriate
      for use or available in other locations.

    %h3 The content we provide

    %p

      The content on our site is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain
      professional or specialist advice before taking, or refraining from, any action on the basis of the content on our site.

    %p

      Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether
      expressed or implied, that the content on our site is accurate, complete or up to date.

    %p We are not responsible for websites we link to

    %p

      Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only.
      Such links should not be interpreted as approval by us of those linked websites or information you may obtain from them.

    %p We have no control over the contents of those sites or resources.

    %h2 Responsibilities

    %p We are not responsible for viruses and you must not introduce them.

    %p We do not guarantee that our site will be secure or free from bugs or viruses.

    %p

      You are responsible for configuring your information technology, computer programmes and platform to access our site. You should use your
      own virus protection software.

    %p

      You must not misuse our site by knowingly introducing viruses, Trojans, worms, logic bombs or other material that is malicious or technologically
      harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database
      connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of- service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.

    %h3 Linking to our site

    %p You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it.

    %p You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.

    %p You must not establish a link to our site in any website that is not owned by you.

    %p Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page.

    %p We reserve the right to withdraw linking permission without notice.

    %h3 Dispute

    %p

      These terms of use, their subject matter and their formation, are governed by English law. You and we both agree that the courts of England and
      Wales will have exclusive jurisdiction, except that if you are a resident of Northern Ireland, you may also bring proceedings in Northern Ireland,
      and if you are resident of Scotland, you may also bring proceedings in Scotland.

