%p.searching-for-swap
  %i.fa.fa-2x.fa-search
  %span
    We're still looking for someone for you to swap your vote with and will send you an email as soon as there's a match.
%p.text-center
  Help us to find more people by sharing SwapMyVote:
%p.text-center
  %a.button.button-facebook{href: "#", onclick: "shareOnFacebook('#{ENV['FACEBOOK_KEY']}', 'https://www.swapmyvote.co.uk', 'Join me in making our votes count for more: #swapmyvote'); return false"}
    %i.fa.fa-facebook.fa-fw
    Share on Facebook
  %a.button.button-twitter{href: "#", onclick: "shareOnTwitter('https://www.swapmyvote.uk', 'Join me in making our votes count for more: #swapmyvote'); return false"}
    %i.fa.fa-twitter.fa-fw
    Share on Twitter