.background-pattern.border-bottom
  .container.container-narrow
    - if @new_verification
      .card
        .card-header
          %h1.h4.mb-0 Verification successful

        .card-body
          %p
            Thank you for verifying your mobile phone number.

          .d-flex.justify-content-center
            = link_to user_path do
              = button_tag "Continue", class: 'btn btn-primary'

    - else
      .card
        .card-header
          %h1.h4 Already verified

        .card-body
          %p
            Your mobile phone number was already verified.

          .d-flex.justify-content-center
            = link_to user_path do
              = button_tag "Continue", class: 'btn btn-primary'
