# This is used to figure out what URLs to generate when sending out
# email.  It can't be done dynamically because the mailer instance
# doesn't have any context about the incoming request.
export SERVER_HOST_PORT=localhost:3000

# You will need a Facebook application to allow log-ins via Facebook.
# Obtain the app key and secret from https://developers.facebook.com/apps/
# and provide the keys here.
export FACEBOOK_KEY=...
export FACEBOOK_SECRET=...

# You will need a Twitter application to allow log-ins via Twitter.
# Obtain the app key and secret from https://developer.twitter.com/en/apps
# and provide the keys here.
export TWITTER_KEY=...
export TWITTER_SECRET=...

# Add Google Analytics tracking ID here if needed
export GOOGLE_ANALYTICS_ID=...

# Set a password to protect the admin area of the site.
export ADMIN_PASSWORD=...

# Uncomment this to close swaps (e.g. outside an election period)
# export SWAPS_CLOSED=yes
