<a href="https://twitter.com/intent/follow?screen_name=swapmyvote">Follow us on Twitter</a>
%br
<a href="https://facebook.com/swapmyvote">Like us on Facebook</a>
%br
<a href="https://crowdfunder.co.uk/swapmyvote">Support us on Crowdfunder</a>