<a href="https://twitter.com/intent/follow?screen_name=swapmyvote">Follow us on Twitter</a>
%br
<a href="https://facebook.com/swapmyvote">Like us on Facebook</a>
- if donate_info[:show]
  %br
  <a href="#{donate_info[:link]}">Support us on Crowdfunder</a>