- twitter_link = "https://twitter.com/intent/tweet?text=I%27m+using+https://SwapMyVote.uk+to+make+my+vote+count+in+the+%23Wakefield+or+%23TivertonandHoniton+%23byelection%0a%0a%23SwapMyVote+@SwapMyVote"

= link_to "Tweet", twitter_link

- facebook_link = "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.swapmyvote.uk&sdk=joey&display=popup&ref=plugin"

= link_to "Share on Facebook", facebook_link
