%p
  Hi #{@user.name},

%p

  The Chesham & Amersham 2021 by-election polls have just opened, but
  we are sorry to say that we haven't been able to match you up with
  some to swap with.

%p

  All is not lost though - you can still vote for the party you most
  wish to support, or tactically for a greater good.

%p

  Thank you very much for taking part - together we are making
  democracy better and more representative.

%p
  All the very best,
  %br
  Swap My Vote Team
%p
  <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=no_swap&utm_campaign=site">Swap My Vote</a>
  %br
  <a href="https://twitter.com/intent/follow?screen_name=swapmyvote">Follow us on Twitter</a>
  %br
  <a href="https://facebook.com/swapmyvote">Like us on Facebook</a>
  %br
  <a href="https://crowdfunder.co.uk/swapmyvote">Support us on Crowdfunder</a>
