%p
  Hi #{@user.name},
%p
  The 2017 General Election polls have just opened, but we are sorry to say that
  we haven't been able to match you up with some to swap with.
  All is not lost though - you can still vote tactically, or for the party you most wish to support.

  If a progressive vote is what is important to you, <a href="http://tactical2017.com">Tactical2017.com</> has been very popular this election. We are not aware of any similar site on the right of the political spectrum. If Brexit is your main concern, this <ahref="https://qz.com/973854/a-simple-guide-to-tactical-voting-in-the-uk-election-if-all-you-care-about-is-brexit/">Quartz</a> piece may be for you.    
%p
  Thank you very much for taking part - together we are making democracy better and more representative.
%p
  All the very best,
  %br
  Swap My Vote Team
%p
  <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=no_swap&utm_campaign=site">Swap my Vote</a>
  %br
  <a href="https://twitter.com/intent/follow?screen_name=swapmyvote">Follow Swap my Vote on Twitter</a>
  %br
  <a href="http://facebook.com/swapmyvote">Like Swap my Vote on Facebook</a>
