%p
  Hi #{@user.name},
%p
  The 2019 General Election polls have just opened, but we are sorry to say that
  we haven't been able to match you up with some to swap with.
  All is not lost though - you can still vote tactically, or for the party you most wish to support.

  If a progressive or pro-EU vote is what is important to you, <a href="http://tacticalvote.co.uk">TacticalVote.co.uk</> has been very popular this election. We are not aware of any similar site on the right or Brexit sides of the political compass. 
%p
  Thank you very much for taking part - together we are making democracy better and more representative.
%p
  All the very best,
  %br
  Swap My Vote Team
%p
  <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=no_swap&utm_campaign=site">Swap My Vote</a>
  %br
  <a href="https://twitter.com/intent/follow?screen_name=swapmyvote">Follow Swap My Vote on Twitter</a>
  %br
  <a href="https://facebook.com/swapmyvote">Like Swap My Vote on Facebook</a>
