%p
  Hi #{@user.name},
%p
  I'm sorry to say that your vote swap

  - if @swap_with
    with #{@swap_with.name}

  has been cancelled.
  This could have happened if either of you changed preferred parties, moved constituency,
  declined the swap, or (most likely!) if the swap expired before being confirmed.
%p
  = link_to "Find another vote swapping partner - log in to swapmyvote.uk now.", user_url(log_in_with: @user.provider)
  Don't delay!
%p
  All the best,
  %br
  Swap My Vote Team
%p
  <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=swap_cancelled&utm_campaign=site">Swap My Vote</a>
  %br
  <a href="https://twitter.com/intent/follow?screen_name=swapmyvote">Follow us on Twitter</a>
  %br
  <a href="https://facebook.com/swapmyvote">Like us on Facebook</a>
