%p
  Hi #{@user.name},
%p
  The 2017 General Election polls have just opened, but I'm afraid we haven't been able to confirm your pending swap with #{@user.swapped_with.name}.
  All is not lost though - you can still vote tactically, or for the party you most wish to support.
%p
  Thank you for taking part - together we are making democracy better and more representative.
%p
  All the best,
  %br
  Swap My Vote Team
%p
  <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=swap_not_confirmed&utm_campaign=site">Swap my Vote</a>
  %br
  <a href="https://twitter.com/intent/follow?screen_name=swapmyvote">Follow Swap my Vote on Twitter</a>
  %br
  <a href="http://facebook.com/swapmyvote">Like Swap my Vote on Facebook</a>
