%p
	Hi #{@user.name},
%p
	I'm sorry to say that your swap with #{@swap_with.name} has been cancelled.
	This could have happened if you or #{@swap_with.name} changed preferred parties, moved constituency,
	declined the swap, or (most likely!) if the swap expired before being confirmed.
%p
	= link_to "Find another vote swapping partner - log in to swapmyvote.uk now.", user_url(log_in_with: @user.provider)
	Don't delay!
%p
	All the best,
	%br
	Swap My Vote Team
%p
	<a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=swap_cancelled&utm_campaign=site">Swap my Vote</a>
	%br
	<a href="https://twitter.com/intent/follow?screen_name=swapmyvote">Follow Swap my Vote on Twitter</a>
	%br
	<a href="http://facebook.com/swapmyvote">Like Swap my Vote on Facebook</a>
