%p
	Hello #{@user.name}! 
%p
	Thank you for taking part in this movement to make every vote count for more.
	We’re really excited that you’re a part of this project, using the Internet to make democracy better.
%p
	If there is already someone who wants to swap votes with you, you will have been paired up on the site. Now that the site has introduced you to each other, it’s over to you - the system is based on trust so please feel free to contact each other through social media; discuss policies, news and your hopes for the new Parliament. 
	Meanwhile, if you haven’t been paired up yet, tell all your friends and followers!
%p	
	<a href="https://twitter.com/intent/tweet?text=Join%20me%20in%20making%20our%20votes%20count%20for%20more%20at%20http://swapmyvote.uk">Tweet</a> 
	<a href="https://www.facebook.com/sharer/sharer.php?app_id=377810399053422&u=https%3A%2F%2Fwww.swapmyvote.uk&sdk=joey&display=popup&ref=plugin">Share on Facebook</a> 
%p
	
	If we all tell all our friends it won’t be long before there’s a critical mass working together to make votes count for more. As soon as we can pair you up, we will email you on this address with the details of your new voting partner.
%p
	Meanwhile if you’ve got any questions please head over to the <a href="http://swapmyvote.uk/faq">FAQ</a>. If your question isn’t answered, please feel free to <a href="http://swapmyvote.uk/contact">contact us</a>. Please bear in mind we’re a tiny team of volunteers doing this in our spare time, so it may not be possible to answer or acknowledge all contacts, but rest assured we will do our best to incorporate your questions and suggestions in updates to the site.
%p
	Now, please help us make every vote count by telling everyone you know about Swap my Vote!
%p	
	<a href="https://twitter.com/intent/tweet?text=Join%20me%20in%20making%20our%20votes%20count%20for%20more%20at%20http://swapmyvote.uk">Tweet</a> 
	<a href="https://www.facebook.com/sharer/sharer.php?app_id=377810399053422&u=https%3A%2F%2Fwww.swapmyvote.uk&sdk=joey&display=popup&ref=plugin">Share on Facebook</a> 
%p
	Happy voting!
	%br
	Team Swap my Vote
%p
	http://swapmyvote.uk
	%br
	http://blog.swapmyvote.uk
	%br
	http://twitter.com/swapmyvote
	%br
	http://facebook.com/swapmyvote