%p
	Hello #{@user.name}!
%p
	Thank you for taking part in this movement to make every vote count for more.
	We’re really excited that you’re a part of this project, using the Internet to make democracy better.
%p
	The general election is <em>Thursday, 12th December</em> and there is everything to play for!
	Thousands of people have their vote swaps arranged - and thousands more are waiting.

	If there is already someone who wants to swap votes with you, you will have been paired up on the site. Now that the site has introduced you to each other, it’s over to you - the system is based on trust so please feel free to contact each other through social media; discuss policies, news, and your hopes for the new Parliament.

%p
	If you haven't been offered a voting partner yet, <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=welcome_email&utm_campaign=ge2019">go and find your partner now!</a>

	You should see a list of potential voting partners on the site - you need to choose which you would like to swap with.

	%ul
		%li Look at the polls in their constituency to see where your vote will make most difference
		%li If need be, check that there is a candidate standing there (there is a link below)
		%li <em>Click your preferred voting partner to propose a vote swap!</em>

	If the swap is not confirmed within #{swap_validity_hours} hours, you should receive an email from us saying that it has been cancelled. This is your cue to <a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=welcome_email&utm_campaign=ge2019">choose a new voting partner</a>. However we want to find as many people as possible a good swap, so <strong>for the final few days of the campaign we will be shortening the time for people to confirm a swap</strong>.
%p
	If we all tell the people we know, it won’t be long before there’s a critical mass working together to make votes count for more. As soon as we can pair you up, we will email you on this address with the details of your new voting partner.
%p
	<a href="https://twitter.com/intent/tweet?text=Join%20me%20in%20making%20our%20votes%20count%20for%20more%20at%20https://swapmyvote.uk">Tweet</a>
	<a href="https://www.facebook.com/sharer/sharer.php?app_id=377810399053422&u=https%3A%2F%2Fwww.swapmyvote.uk&sdk=joey&display=popup&ref=plugin">Share on Facebook</a>
%p
	Meanwhile if you’ve got any questions please head over to the <a href="https://swapmyvote.uk/faq">FAQ</a>. If your question isn’t answered, please feel free to <a href="https://swapmyvote.uk/contact">contact us</a>. Please bear in mind we’re a tiny team of volunteers doing this in our spare time, so it may not be possible to answer or acknowledge all contacts, but rest assured we will do our best to incorporate your questions and suggestions in updates to the site.
%p
	Now, please help us make every vote count by telling everyone you know about Swap My Vote!
%p
	<a href="https://twitter.com/intent/tweet?text=Join%20me%20in%20making%20our%20votes%20count%20for%20more%20at%20https://swapmyvote.uk">Tweet</a>
	<a href="https://www.facebook.com/sharer/sharer.php?app_id=377810399053422&u=https%3A%2F%2Fwww.swapmyvote.uk&sdk=joey&display=popup&ref=plugin">Share on Facebook</a>
%p
	Happy voting!
	%br
	Swap My Vote Team
%p
	<a href="https://www.swapmyvote.uk/?utm_source=email&utm_medium=welcome_email&utm_campaign=site">Swap My Vote</a>
	%br
	<a href="https://twitter.com/intent/follow?screen_name=swapmyvote">Follow Swap My Vote on Twitter</a>
	%br
	<a href="https://facebook.com/swapmyvote">Like Swap My Vote on Facebook</a>
