<% if resource.errors.any? %>
  <div class="alert alert-danger small" id="error_explanation">
    <ul class="mb-0 list-unstyled">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
