%p{ class: "party-recommendation #{party_recommendation[1]}" }
  - if party_recommendation.first != :unknown
    - if party_recommendation.first == :good
      &#x2705
    - else
      &#x274C
    = link_to URI.parse(party_recommendation[1].link).host, party_recommendation[1].link
    recommend
    = party_recommendation[2].text
  - else
    &#x1F937
    = link_to URI.parse(party_recommendation[1].link).host, party_recommendation[1].link
    has no recommendation


