%p{ class: "party-recommendation #{rec.site.id}" }
  - if rec.match != :unknown
    - if rec.match == :good
      &#x2705
    - else
      &#x274C
    = link_to URI.parse(rec.site.link).host, rec.site.link
    recommend
    = rec.recommendation.text
  - else
    &#x1F937
    = link_to URI.parse(rec.site.link).host, rec.site.link
    has no recommendation


