%div{ class: "recommendation #{recommendation.site}" }
  .recommendation-source.small
    = recommendation.site
  .recommendation-text{ style: "#{recommendation.party_style_from_text}"}
    = link_to recommendation.text, recommendation.link
