.background-pattern
  .container
    %h1 Swap My Vote Admin
    .card
      %p
        Welcome to the admin interface.

      %ul
        %li
          = link_to "Statistics dashboard", admin_stats_path
        %li
          = link_to "Mobile verification", fake_verify_mobile_path
        %li
          = link_to "Preview emails in browser", '/rails/mailers/user_mailer'
        %li
          = link_to "Send all emails to me for proof-reading",
              admin_send_email_proofs_path
