%p.text-center.small
  - unless hide_polls
    Poll results are based on
    %a{href: "https://www.electoralcalculus.co.uk/orderedseats.html", target: "blank"}
      Electoral Calculus calculations of national swing since the last election.
