%p.text-center
  Who would you like to swap your vote with?

%p.text-center.small.subdued

  - unless hide_polls?
    Consider the polls in their constituency to give your vote the best
    chance of making a difference!

- for swap in @potential_swaps
  .smv-card
    = render partial: "swap_profile", object: swap, as: "other_user", locals: { link_to_swap: true }

- unless hide_polls?
  %p.text-center
    Poll results are based on Electoral Calculus predictions for the next General Election.

%p.text-center.small.subdued

  Matches will be recalculated #{expiry} minutes after they are first
  shown, to give you a wider range of potential swap partners to
  choose from.
