%p.searching-for-swap.text-center
  %span
    %i.fa.fa-2x.fa-search
    We’re looking for a voting partner for you.
%p At the moment we have more voters who want to vote the same way as you, but fewer with complementary preferences.
%p
  Help us find more potential voting partners by sharing Swap My Vote with your friends!
%p.text-center
  %a.btw.btn-facebook{href: "#", onclick: "shareOnFacebook('#{ENV['FACEBOOK_KEY']}', 'http://www.swapmyvote.uk', 'Join me in making our votes count for more: #swapmyvote'); return false"}
    %i.fa.fa-facebook.fa-fw
    Share on Facebook
  %a.btn.btn-twitter{href: "#", onclick: "shareOnTwitter('http://www.swapmyvote.uk', 'Join me in making our votes count for more: #swapmyvote'); return false"}
    %i.fa.fa-twitter.fa-fw
    Share on Twitter
