%p
  My postcode is
  %input#txt-postcode{type: "text", size: 10}/
  %input#btn-postcode{type: "button", value: "Search"}/

  .text-error#error-postcode

%p.small.subdued
  Enter your postcode only to find your constituency; we do not retain this info.
