.form-group
  %label.mb-0 My postcode is
  .input-group
    %input#txt-postcode{type: "text", size: 10, class: "form-control"}

    .input-group-append
      %input#btn-postcode{type: "button", value: "Search", class: "btn btn-secondary"}

  .form-text.small.text-error#error-postcode

  %p.small.subdued
    Enter your postcode only to find your constituency; we do not retain this info.
