.form-group.form-group-short
  %label.mb-0 My postcode is
  .input-group
    %input.form-control#txt-postcode{ type: "text", size: 10, minlength: 5,
                                      maxlength: 9, spellcheck: "false" }
    .input-group-append
      %input.btn.btn-secondary#btn-postcode{ type: "button", value: "Search" }

.alert.alert-danger.small#error-postcode

%p.small.subdued
  Enter your postcode only to find your constituency; we do not retain this info.
