.container
  %p.text-center Saving...

= form_for :user, url: user_path do |f|
  = hidden_field :user, :preferred_party_id, value: @user_params["preferred_party_id"]
  = hidden_field :user, :willing_party_id, value: @user_params["willing_party_id"]
  
:javascript
  $(document).ready(function(){
    $("form").submit();
  });