.navbar
  %a.brand{href: root_path} SwapMyVote

.background-pattern.border-bottom
  .container
    %p.text-center
      Your preferred party is 
      %strong= @user.preferred_party.name
      but you are willing to vote tactically for&nbsp;
      %strong> #{@user.willing_party.name}
      \. You are in&nbsp;
      %strong> #{@user.constituency.name}
      \.
    %p.small.text-center
      %a{href: edit_user_path} Not right? Update your info
      
.container.container-narrow
  %p.searching-for-swap
    %i.fa.fa-2x.fa-search
    %span
      We're still looking for someone for you to swap your vote with.
  %p.text-center
    Help us to find someone by sharing SwapMyVote:
  %p.text-center
    %a.button.button-facebook{href: "#", onclick: "shareOnFacebook('#{ENV['FACEBOOK_KEY']}', 'https://www.swapmyvote.co.uk'); return false"}
      %i.fa.fa-facebook.fa-fw
      Share on Facebook
    %a.button.button-twitter{href: "#", onclick: "shareOnTwitter('https://www.swapmyvote.co.uk', 'Make your vote count by swapping it into a different constituency'); return false"}
      %i.fa.fa-twitter.fa-fw
      Share on Twitter