%p

  Here's how to

  = link_to("find your local polling station",
            "https://wheredoivote.co.uk/", target: "_blank") + "."

  Get out there and vote!

- if user&.swap_confirmed?
  %p
    And please don't forget to come back here when you've voted
    and
    = link_to("let your swap partner know you've voted!", user_vote_url)
