%p.text-center

  - tagline = app_tagline

  %a.button.button-facebook{href: "#", onclick: "shareOnFacebook('#{ENV['FACEBOOK_KEY']}', 'https://swapmyvote.uk', '#{tagline}', '#SwapMyVote'); return false"}

    = image_tag('facebook_icon.png')
    Share on Facebook

  %a.button.button-twitter{href: "#", onclick: "shareOnTwitter('https://swapmyvote.uk', '#{tagline} @SwapMyVote'); return false"}

    %i.fa.fa-twitter.fa-fw
    Share on Twitter
