.background-pattern.border-bottom
  .container.container-narrow
    %p.searching-for-swap.text-center
      %i.fa.fa-2x.fa-search
      Thanks! We're looking for someone for you to swap with.
    %p.text-center
      Would you like to share SwapmyVote before we continue?
      This will help us to find more people that you could swap your vote with.
    %p.text-center
      %a.btn.btn-facebook{href: user_path, onclick: "shareOnFacebook('#{ENV['FACEBOOK_KEY']}', 'http://www.swapmyvote.uk')"}
        %i.fa.fa-facebook.fa-fw
        Share on Facebook
      %a.btn.btn-twitter{href: user_path, onclick: "shareOnTwitter('http://www.swapmyvote.uk', 'Make your vote count by swapping it into a different constituency')"}
        %i.fa.fa-twitter.fa-fw
        Share on Twitter
    %p.text-center.small
      %a{href: user_path} No Thanks, Skip &#187;
