.background-pattern.border-bottom
  .container.container-narrow
    %p.searching-for-swap.text-center
      %i.fa.fa-2x.fa-search
      Thanks! We're looking for someone for you to swap with.

    %p.text-center
      Would you like to share Swap My Vote before we continue?
      This will help us to find more people that you could swap your vote with.

    = render partial: 'social'

    %p.text-center.small
      %a{href: user_path} No Thanks, Skip &#187;
