<!-- Begin Action Network Signup Form -->
<link href='https://actionnetwork.org/css/style-embed-whitelabel-v3.css' rel='stylesheet' type='text/css' /><script src='https://actionnetwork.org/widgets/v4/form/swapmyvote?format=js&source=widget'></script><div id='can-form-area-swapmyvote' style='width: 400px'><!-- this div is the target for our HTML insertion --></div>
<style>
  <!--
  #can_embed_form_inner h2 {display:none;}
  #can_embed_form_inner h4 {display:none;}
  #can_embed_form .clearfix div:nth-child(2) {display:none;}
  #can_embed_form .clearfix div:nth-child(3) {display:none;}
  -->
</style>
<!-- End Action Network Signup Form -->
