:javascript
  function checkForm() {
    preferred_party_id = $("select[name='user[preferred_party_id]']").val();
    willing_party_id = $("select[name='user[willing_party_id]']").val();
    if (preferred_party_id == null || willing_party_id == null) {
      $(".js-blank-error-modal").modal();
      return false;
    } else if (preferred_party_id == willing_party_id) {
      $(".js-equal-party-error-modal").modal();
      return false;
    }

    return true;
  }

.modal.js-blank-error-modal{ tabindex: "-1", role: "dialog" }
  .modal-dialog
    .modal-content
      .modal-body
        Please choose both your preferred party and your willing party.
      .modal-footer
        %button.btn.btn-primary{ data: { dismiss: "modal" }, aria: { label: "Close" } }
          Close

.modal.js-equal-party-error-modal{ tabindex: "-1", role: "dialog" }
  .modal-dialog
    .modal-content
      .modal-body
        Your preferred party and your willing party cannot be the same.
      .modal-footer
        %button.btn.btn-primary{ data: { dismiss: "modal" }, aria: { label: "Close" } }
          Close
