= form_with url: pre_login_path, id: "login-form", local: true do |f|

  %p.ui-widget
    My constituency is
    = f.collection_select :constituency_ons_id, constituencies,
                          :ons_id, :name,
                          selected: default_constituency_ons_id,
                          prompt: true

  = render partial: "users/postcode_field"

  %p.text-center
    = submit_tag("Save", class: "btn btn-primary")
