<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<form action="//swapmyvote.us15.list-manage.com/subscribe/post?u=7076c2b7a929106d12659c8ff&amp;id=990c72457a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate text-center" target="_blank" novalidate>
	<div class="mc-field-group">
		<label for="mce-EMAIL">Email Address:</label>
		<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="padding: 4px; border-radius: 4px; border: 1px solid #ccc; font-size: 16px; width: 350px" autofocus>
	</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7076c2b7a929106d12659c8ff_86ca43a22f" tabindex="-1" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe for updates" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->