.background-pattern.border-bottom
  .container.text-center
    %h1
      Not voting this time?

    %h2.subdued
      Sign up for future news from the Swap My Vote team and Forward Democracy

    = render partial: "actionnetwork"
