.background-pattern.border-bottom
  .container.text-center
    %h1
      Make your vote count in the 2022 summer by&#8209;elections!

    %h2.subdued
      Can you vote in the #{election_event_title('or')} on #{election_date_dm}?

    %h2.subdued
      You can swap votes with someone in the other constituency to help
      both votes count for more. You get to vote for who you really want,
      and to help someone else do the same!

= render partial: "swap_form"

= render partial: "news_sign_up_before_polls_close"
