.background-pattern.border-bottom
  .container.text-center
    %h1
      Make your vote count in the #{election_date_season_type}!

    %h2.subdued
      Swap My Vote can help if voting for your preferred party doesn't make sense in
      %strong
        your
      constituency.

= render partial: "swap_form"

= render partial: "news_sign_up_before_polls_close"
