.background-pattern.border-bottom
  .container.text-center
    %h1
      Make your vote count in the 2022 summer by&#8209;elections!

    %h2.subdued
      Are you able to vote in the Wakefield or Tiverton & Honiton by-elections on 23rd June?

    %h2.subdued
      If so, swap it with someone in the other constituency where it
      could count for more. You get to vote for who you really want,
      and to help someone else do the same!

= render partial: "swap_form"


.background-pattern.border-bottom
  .container.text-center
    %h1
      Not voting this time?

    %h2.subdued
      Sign up for future news from the Swap My Vote team and Forward Democracy

    = render partial: "actionnetwork.html"


