.background-pattern.border-bottom
  .container.text-center
    %h1
      Make your vote count on 12 Dec 2019!
    %h2.subdued
      Swap it with someone in a constituency where it could count for more. You get to vote for who you really want, and to help someone else do the same.

.plain-pattern.border-bottom
  .container.text-center
    %p.choose-party
      My preferred party is
      = select :user, :preferred_party_id, nil, {}, {form: 'login-form'} do
        %option(disabled=true selected=true) ...
        = options_for_select(@parties.map {|p| [ p.name, p.id ]}, selected: @preferred_party_id)
    %p.choose-party
      but I'm willing to vote for
      = select :user, :willing_party_id, nil, {}, {form: 'login-form'} do
        %option(disabled=true selected=true) ...
        = options_for_select(@parties.map {|p| [ p.name, p.id ]}, selected: @willing_party_id)
    %p
      %a.btn.btn-lg.btn-primary{ onclick: "submit_modal(); return false", href: "#" } Swap My Vote!
    %p.small.subdued
      We will match you with someone who will
      cast your preferred vote in a different area where it could count for more.
      In return, you will cast their preferred vote in your area.

.background-pattern.border-bottom
  .container
    %h2 How does Swap My Vote work?

    %ol
      %li Choose the party you would ideally vote for, and the party that you are willing to vote for tactically in your local constituency.

      %li We’ll find you a list of people with the complementary preferences. Pick one partner to swap your vote with. The recent polls by their name can help you see where your vote might make most difference.

      %li If your partner agrees to the swap, it is confirmed. We’ll put you in touch with each other’s Facebook or Twitter profiles and, if you like, you can introduce yourselves.
:javascript
  function submit_modal() {
    preferred_party_id = $("select[name='user[preferred_party_id]']").val();
    willing_party_id = $("select[name='user[willing_party_id]']").val();
    if (preferred_party_id !== null && willing_party_id !== null) {
      $("#js-login-modal").modal();
    } else {
      $("#js-error-modal").modal();
    }
  }

.modal#js-error-modal{ tabindex: "-1", role: "dialog" }
  .modal-dialog
    .modal-content
      .modal-body
        Please choose both your preferred party and your willing party.
      .modal-footer
        %button.btn.btn-primary{ :data => { dismiss: "modal" }, :aria => { label: "Close" } }
          Close
