.plain-pattern.border-bottom
  .container.text-center
    = render partial: "candidates_form"

.background-pattern.border-bottom
  .container
    %h2 How does Swap My Vote work?

    %ol
      %li Choose the party you would prefer to vote for, and the party that you are willing to vote for tactically in your own constituency.

      %li
        We’ll find you a list of people with the complementary preferences. Pick one partner to swap your vote with.
        - unless hide_polls?
          The recent polls by their name can help you see where your vote might make most difference.

      %li If your partner agrees to the swap, it is confirmed. We’ll help you connect with each other, so if you like, you can introduce yourselves.

= render partial: "candidates_form_js"
