.plain-pattern.border-bottom
  .container.text-center
    - if !pre_login_constituency_form_complete
      = render partial: "constituency_form", locals: { constituencies: @constituencies, default_constituency_ons_id: @default_constituency_ons_id }
    - else
      = render partial: "candidates_form", locals: { parties: @parties, preferred_party_id: @preferred_party_id, willing_party_id: @willing_party_id, constituency_ons_id: @constituency_ons_id }

.background-pattern.border-bottom
  .container
    %h2 How does Swap My Vote work?

    %ol
      %li Choose the party you would prefer to vote for, and the party that you are willing to vote for tactically in your own constituency.

      %li
        We’ll find you a list of people with the complementary preferences. Pick one partner to swap your vote with.
        - unless hide_polls?
          The recent polls by their name can help you see where your vote might make most difference.

      %li If your partner agrees to the swap, it is confirmed. We’ll help you connect with each other, so if you like, you can introduce yourselves.

= render partial: "candidates_form_js"
