.background-pattern.border-bottom
  .container.container-narrow
    .card
      %h2 It's time to vote!
      %p
        Now that the election polls are open, Swap my Vote is closed for new swaps.
      %p
        Thank you for taking part - together we are making democracy better and more representative!
      %p
        If you've haven't had a confirmation via email that your vote has been
        swapped, we're sorry to say we weren't able to pair you with a voting partner on this occasion. All is not lost though - you can still vote tactically, or for the party you most wish to support.
      %p
        Till next time,
        %br
        All the best from the Swap my Vote team.
      %hr
      %p.text-center
        Stay up to date with our future projects and for future elections.
        %br
        = link_to "Follow us on Twitter", "https://twitter.com/swapmyvote", class: "button button-twitter"
        = link_to "Like us on Facebook", "https://facebook.com/swapmyvote", class: "button button-facebook"

