.background-pattern.border-bottom
  .container.container-narrow
    .card
      %h2 It's time to vote!
      %p

        Now that the election polls are open, Swap My Vote is closed
        for new swaps.  There is a small chance we'll be able to
        reopen in a bit, but that requires some frantic coding on
        little sleep, so we're not making any promises.

      %p

        Either way, thank you so much for taking part - together we
        are making democracy better and more representative!

      %p

        If you've haven't had a confirmation via email that your vote
        has been swapped, we're sorry to say we weren't able to pair
        you with a voting partner on this occasion.  Even if we don't
        reopen today though, all is not lost - you can still vote
        tactically, or for the party you most wish to support.

      %p
        Here's how to get to your
        = link_to("local polling station", "https://wheredoivote.co.uk/") + "."
        Get out there and vote!

      %p
        Till next time,
        %br
        All the best from the Swap My Vote team.
      %hr
      %p.text-center
        Stay up to date with our future projects and for future elections.
        %br
        = link_to "Follow us on Twitter", "https://twitter.com/swapmyvote", class: "button button-twitter"
        = link_to "Like us on Facebook", "https://facebook.com/swapmyvote", class: "button button-facebook"

