- if voting_open?
  = render partial: "voting_open"

- else
  - $stderr.puts "voting_open? ------ #{voting_open?}"
  - if swapping_open?
    = render partial: "swaps_open"

  - else
    = render partial: "swaps_closed"
