.navbar
  %a.brand{:href => "/"} SwapMyVote
  

.hero
  .hero-text
    = form_for :user, url: user_path do |f|
      %p
        My preferred party is 
        = select :user, :preferred_party_id, options_for_select(@parties.map {|p| [ p.name, p.id ]}), prompt: "..."
        ,
      %p
        but the vote that will count the most where I live is
        = select :user, :willing_party_id, options_for_select(@parties.map {|p| [ p.name, p.id ]}), prompt: "..."
      %p
        %button.button{:type => "submit"} Swap My Vote!
    %p.small
      We will match you with someone who will 
      cast your preferred vote in a different area where it will count for more.
      In return, you will cast their preferred vote in your area.