.hero
  .hero-toolbar
    %a.brand{:href => "/"} SwapMyVote
  
  .hero-text
    %p
      My preferred party is 
      %select
        %option ...
        %option The Conversative Party
        %option The Green Party
        %option Labour
        %option UKIP
      ,
    %p
      but the vote that will count the most where I live is 
      %select
        %option ...
        %option The Conversative Party
        %option The Green Party
        %option Labour
        %option UKIP
    %p
      %a.swap-my-vote(href="#") Swap My Vote!
    %p.small
      We will match you with someone who will 
      cast your preferred vote in a different area where it will count for more.
      In return, you will cast their preferred vote in your area.