- if swapping_open?
  = render partial: "swaps_open"
- else
  - if voting_open?
    = render partial: "voting_open"
  - else
    - if app_mode == "closed-warm-up"
      = render partial: "closed_warm_up"
    - else
      = render partial: "closed_wind_down"
