@import "_variables";

@mixin largescreen() {
    @media screen and (min-width: $smallscreen-width) {
        @content;
    }
}

@mixin smallscreen() {
    @media screen and (max-width: $smallscreen-width) {
        @content;
    }
}

@mixin highdpi() {
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
      @content;
  }
}
