$base-font-size: 18px;
$base-line-height: 1.6;

$smallscreen-width: 650px;

$bg-color: #fcfcfc;
$border-color: #ddd;
$button-color: #457bda;
$facebook-color: #4267b2;
$twitter-color: #55acee;
$email-color: #5f55ee;
$error-color: #bf0000;
$grey: #606060;
$white: white;

$link-color: #000075;
$subdued-color: $grey;
