$base-font-size: 18px;
$base-line-height: 1.6;

$smallscreen-width: 650px;

$bg-color: #fafafa;
$border-color: #ddd;
$button-color: #457bda;
$facebook-color: #4267b2;
$twitter-color: #55acee;
$error-color: #bf0000;
$grey: #696969;

$white: white;
