.constituency-autocomplete {
    position: relative;
    display: inline-block;

    // Fill the width to match the BS style
    width: 100%;

    // Make enough room for the button on the end
    padding-right: 2em;
}

.constituency-autocomplete-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.constituency-autocomplete-input {
    margin: 0;
    padding: 5px 10px;
    width: 100%;
}

.constituency-autocomplete-select {
    max-height: 50vh;
    overflow: scroll;
}
