@import "variables";

.button-large {
    font-size: 1.4rem;
    padding: 18px 36px;
}

.btn-facebook {
    background-color: $facebook-color;
    color: $white;

    &:hover {
        background-color: darken($facebook-color, 10%);
        color: $white;
    }

    img {
        max-width: 24px;
        vertical-align: middle;
        margin-right: 4px;
        margin-bottom: 2px;
    }
}

.btn-twitter {
    background-color: $twitter-color;
    color: $white;

    &:hover {
        background-color: darken($twitter-color, 10%);
        color: $white;
    }
}

.btn-email {
    background-color: $email-color;
    color: $white;

    &:hover {
        background-color: darken($email-color, 10%);
        color: $white;
    }
}
