.cc-message {
  display: block;
  text-align: center
}

.cc-compliance {
  padding-bottom: 5px;

  a:hover {
    text-decoration: none;
  }
}

.cc-link {
  text-decoration: underline;
}

.cc-dismiss {
  margin: 0 auto;
  border-radius: 2px;
  padding: 5px;
  display: block;
  width: 185px;
  text-align: center;
  cursor: pointer;
}
