footer {
	padding: 24px 0;
	background-color: #fafafa;
	.container {
		padding: 0 100px;
	}
	ul {
		display: inline-block;
		width: 33%;
		margin: 0;
		box-sizing: border-box;
		vertical-align: top;
		list-style: none;
		li {
			padding: 3px 0;
			line-height: 1.2;
			h3 {
				margin: 0;
				font-variant: small-caps;
				color: #888;
				font-size: 16px;
			}
			a {
				opacity: 0.8;
			}
		}
	}
}