@import "mixins";

footer {
    background-color: $bg-color;

    @include largescreen {
        padding: 24px 0;
    }

    @include smallscreen {
        padding: 8px;
    }

    .container {
        @include largescreen {
            padding: 0 100px;
            display: flex;
        }
    }

    ul {
        box-sizing: border-box;
        vertical-align: top;
        list-style: none;
        padding: 0;
        margin-top: 0;

        @include largescreen {
            flex: 1;
        }

        li {
            // FIXME
            // scss-lint:disable SelectorDepth
            padding: 3px 0;
            line-height: 1.2;

            h3 {
                margin: 0;
                // FIXME
                // scss-lint:disable ColorVariable
                color: #888;
                font-size: 16px;
            }

            a {
                opacity: 0.8;
            }
        }
    }

    p {
        // scss-lint:disable ColorVariable
        color: #888;
        font-size: 16px;
    }
}
