@import "mixins";

footer {
    background-color: $bg-color;

    @include largescreen {
        padding: 24px 0;
    }

    @include smallscreen {
        padding: 8px;
    }

    .container {
        @include largescreen {
            padding: 0 100px;
            display: flex;
        }
    }

    ul {
        box-sizing: border-box;
        vertical-align: top;
        list-style: none;
        padding: 0;
        margin-top: 0;

        @include largescreen {
            flex: 1;
        }

        li {
            // FIXME
            // scss-lint:disable SelectorDepth
            padding: 3px 0;
            line-height: 1.2;

            h3 {
                margin: 0;
                // FIXME
                // scss-lint:disable ColorVariable
                color: #888;
                font-size: 16px;
            }

            a {
                opacity: 0.8;
            }
        }
    }

    .fa.fa-icon {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 16px;
    }

    .footer {
        margin:    2px;
        font-size: 14px;
    }

    .list-group {
    }

    .list-group-item {
    }

    .left-group {
        position: absolute;
        width: 25%;
        left: 0;
        margin-left: 2px;
        margin-bottom: 2px;
        text-align: left;
    }

    .center-group {
        position: absolute;
        width: 35%;
        left: 25%;
        margin-left: 2px;
        margin-bottom: 2px;
        text-align: left;
    }

    .right-group {
        position: absolute;
        width: 40%;
        left: 60%;
        margin-right: 2px;
        margin-bottom: 2px;
        text-align: right;
    }

    .impressum {
    	font-weight: normal;
    	font-style: italic;
    	font-size: 14px;
    	color: $faded-color;
        padding: 0 2px 0 2px;
        margin-bottom: 2px;
    }

    .button {
    	background-color: $faded-color;
        font-weight: normal;
        padding: 0 2px 0 0;
    }

    .logo {
    	background-color: #ffffff;
        font-weight: normal;
        padding: 0 2px 0 0;
    }

}
