@import url("//fonts.googleapis.com/css?family=Open+Sans");

@import "_variables";

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

a {
  color: rgb(78, 94, 255);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 12px 0;
}

select {
  border-radius: 5px;
  font-size: 0.9em;
  background-color: white;
}

input[type=text] {
  padding: 5px 8px;
  border: 1px solid darken($border-color, 20%);
  border-radius: 3px;
  font-size: 1em;
  width: 300px;
}

.hero {
  background-color: #e4e4e4;
  padding: 32px 32px;
  background-image: image-url('pattern.png');

  .hero-text {
    color: #333;
    max-width: 900px;
    margin: auto;
    text-align: center;
    font-size: 36px;
  }
  
  p.small {
    font-size: 18px;
  }
  
  a {
    margin: 32px 0;
  }
  
  border-bottom: 1px solid #ccc;
}

.navbar {
  padding: 16px 32px;
  a.brand {
    color: #555;
  }
  border-bottom: 1px solid $border-color;
  
  .user {
    display: inline-block;
    float: right;
    position: relative;
    padding-left: 42px;
    img {
      height: 32px;
      width: 32px;
      border: 1px solid $border-color;
      border-radius: 3px;
      position: absolute;
      left: 0;
      top: -4px;;
    }
    a.logout {
      padding-left: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -3px;
    }
  }
}

.container {
  max-width: 960px;
  padding: 16px;
  margin: auto;
}

.container-narrow {
  max-width: 600px;
}

.background-pattern {
  background-color: #e4e4e4;
  background-image: image-url('pattern.png');
}

.border-bottom {
  border-bottom: 1px solid $border-color;
}

.text-center {
  text-align: center;
}

.text-error {
  color: red;
}

.small {
  font-size: $base-font-size * 0.8;
}

.subdued {
  color: #999;
}

.card {
  border-radius: 6px;
  border: 1px solid darken($border-color, 10%);
  padding: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  background-color: white;
}

.spacer {
  height: 12px;
}

.searching-for-swap {
  position: relative;
  i {
    position: absolute;
    top: -3px;
    left: 0;
    color: #aaa;
    -webkit-animation: oscillate 2s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: oscillate 2s linear infinite; /* Firefox 5-15 */
         -o-animation: oscillate 2s linear infinite; /* Opera 12+ */
            animation: oscillate 2s linear infinite;
  }
  
  
  span {
    display: inline-block;
    margin-left: 50px;
  }
}

$oscillation-size: 3px;
@-webkit-keyframes oscillate {
	from { 	-webkit-transform: rotate(0deg) translateX($oscillation-size) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateX($oscillation-size) rotate(-360deg); }
}

@-moz-keyframes oscillate {
	from { 	-moz-transform: rotate(0deg) translateX($oscillation-size) rotate(0deg); }
	to   {  -moz-transform: rotate(360deg) translateX($oscillation-size) rotate(-360deg); }
}

@-o-keyframes oscillate {
	from { 	-o-transform: rotate(0deg) translateX($oscillation-size) rotate(0deg); }
	to   {  -o-transform: rotate(360deg) translateX($oscillation-size) rotate(-360deg); }
}

@keyframes oscillate {
	from { 	transform: rotate(0deg) translateX($oscillation-size) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX($oscillation-size) rotate(-360deg); }
}