@import url("//fonts.googleapis.com/css?family=Open+Sans");

@import "variables";
@import "mixins";

@import "normalize-rails/normalize";

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: $bg-color; // For "infinite" footer
}

// FIXME
// scss-lint:disable ColorVariable

a {
    color: rgb(78, 94, 255);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.stealth-link {
        color: inherit;
    }
}

p {
    margin: 12px 0;

    &.choose-party {
        font-size: 34px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

select {
    border-radius: 5px;
    font-size: 0.9em;
    background-color: white;
}

.container {
    max-width: 960px;
    padding: 16px;
    margin: auto;

    @include smallscreen {
        padding: 16px;
    }
}

.container-narrow {
    max-width: 610px;
}

.container-extra-narrow {
    max-width: 450px;
}

.background-pattern {
    background-color: #e4e4e4;
    background-image: image-url("pattern.png");
}

.plain-pattern {
    background-color: white;
}

.border-bottom {
    border-bottom: 1px solid $border-color;
}

.text-center {
    text-align: center;
}

.text-success {
    color: rgb(56, 182, 4);
}

.small {
    font-size: $base-font-size * 0.8;
}

.subdued {
    color: #999;
}

.smv-card {
    border-radius: 6px;
    border: 1px solid darken($border-color, 10%);
    padding: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
    background-color: white;

    > h1,
    h2,
    h3 {
        margin-top: 0;
    }
}

.searching-for-swap {
    position: relative;

    i {
        // scss-lint:disable VendorPrefix
        margin-right: 6px;
        color: #aaa;
    }

    span {
        display: inline-block;
    }
}

$oscillation-size: 3px;

// scss-lint:disable SpaceBeforeBrace
// scss-lint:disable VendorPrefix
@-webkit-keyframes oscillate {
    from {
        -webkit-transform: rotate(0deg) translateX($oscillation-size)
            rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX($oscillation-size)
            rotate(-360deg);
    }
}

@-moz-keyframes oscillate {
    from {
        -moz-transform: rotate(0deg) translateX($oscillation-size) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateX($oscillation-size)
            rotate(-360deg);
    }
}

@-o-keyframes oscillate {
    from {
        -o-transform: rotate(0deg) translateX($oscillation-size) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateX($oscillation-size)
            rotate(-360deg);
    }
}

@keyframes oscillate {
    from {
        transform: rotate(0deg) translateX($oscillation-size) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX($oscillation-size) rotate(-360deg);
    }
}

// scss-lint:enable VendorPrefix
// scss-lint:enable SpaceBeforeBrace
