@import "variables";

$modal-width: 450px;
$modal-margin: 12px;

// FIXME
// scss-lint:disable ColorVariable

.smv-modal {
    font-size: $base-font-size;

    i.modal-close {
        position: absolute;
        top: 6px;
        right: 6px;
        cursor: pointer;
    }

    .modal-backdrop {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }

    .smv-modal-dialog {
        box-sizing: border-box;
        border-radius: 5px;
        background-color: white;
        border: 1px solid $border-color;
        z-index: 20;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);

        @media screen and (min-width: $modal-width + 2 * $modal-margin) {
            width: $modal-width;
            position: fixed;
            top: 48px;
            left: 50%;
            margin-left: -$modal-width / 2;
        }

        @media screen and (max-width: $modal-width + 2 * $modal-margin) {
            position: fixed;
            left: $modal-margin;
            right: $modal-margin;
        }
    }
}
