@import "_variables";

.modal {
  &:before{
    content: ""; 
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; 
    z-index: 10;
  }
  
  .modal-dialog {
    width: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -325px;
    margin-top: -120px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid $border-color;
    z-index: 20;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
  }
}