@import "variables";
@import "mixins";

.profile {
    color: inherit;
    display: block;
    position: relative;
    min-height: 64px;

    .profile-img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        position: absolute;
        top: 14px;
    }

    .profile-content {
        padding-right: 6px;
        padding-left: 76px;
        box-sizing: border-box;

        &.with-polls {
            @include largescreen {
                width: 60%;
                float: left;
            }
        }
    }

    .profile-poll {
        height: 100%;
        box-sizing: border-box;

        @include largescreen {
            width: 40%;
            float: right;
            border-left: 1px solid $border-color;
            padding-left: 6px;
        }

        @include smallscreen {
            border-top: 1px solid $border-color;
            padding-top: 12px;
            margin-top: 12px;
        }
    }

    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

.profile-icons {
    i {
        color: $grey;
    }

    .fa-twitter {
        color: $twitter-color;
    }

    .fa-email {
        color: $email-color;
    }

    .fa-facebook {
        color: $facebook-color;
    }
}

.profile-recommendations {
    margin-top: 12px;

    .recommendation {
        display: inline-block;

        @include smallscreen {
            width: 90%;
        }

        @include largescreen {
            width: 11.5%;
            vertical-align: top;
        }
    }

    .recommendation-source {
        @include largescreen {
            font-size: $base-font-size * 0.7;
            min-height: 3.5em;
        }

        @include smallscreen {
            display: inline-block;
            width: 45%;
            text-align: right;
        }
    }

    .recommendation-text {
        @include smallscreen {
            display: inline-block;
            width: 45%;
            text-align: left;
            vertical-align: middle;
        }
    }
}

.poll-chart {
    margin-top: 12px;
    height: 120px;
}

// Work around a flicker when hovering on the poll bars
// (https://stackoverflow.com/questions/37902708/google-charts-tooltip-flickering)
.google-visualization-tooltip {
    pointer-events: none;
}
