@import "mixins";

titler {
    background-color: $bg-color;

    .titler {
          padding: 0 10 0 0;
          margin:  2px;
    }

    .list-group {
    }

    .list-group-item:first-child {
    }

    a.list-group-item {
    }

    .list-group-item {
    }

}
