:javascript
  window.addEventListener("load", function() {
    window.cookieconsent.initialise({
      palette: {
        popup:  {background: "#5cbdd3"},
        button: {background: "#f1d600"}
      },
      content: {
        message: "This website uses cookies to make sure you get the best experience on our website.",
        href: "#{cookies_path}",
        dismiss: "Don't show this again"
      },
      cookie: {
        name: "_swapmyvote_cookie_consent",
        domain: "#{ENV['SERVER_HOST']}"
      }
    });
  });
