%span.user
  = link_to image_tag(current_user.image_url), edit_user_path
  %span.name
    = link_to current_user.name, edit_user_path

  = link_to "Log out", destroy_user_session_path, method: :delete, class: "small stealth-link logout"
