%span.user
  %titler
    .list-group
      .list-group-item
        %a.button{ onclick: "showModal($('.js-login-modal')); return false", class: "button titler login logout" }
          // %i.fa.fa-sign-in
          Log-in
        .modal.js-login-modal{style: "display: %s;" % (params[:log_in_with] ? 'inherit' : 'none')}
          = form_with url: "#", id: "login-form", class: "modal-dialog",
                      local: true do
            %i.fa.fa-times.subdued.modal-close
            - if log_in_with_facebook?
              %p.text-center
                %button{formaction: facebook_login_path, formmethod: :post,
                        class: "button button-facebook"}
                  = image_tag('facebook_icon.png')
                  Log in with Facebook
            - if log_in_method_unrestricted?
              %p.text-center.subdued &#8212; or &#8212;
            - if log_in_with_twitter?
              %p.text-center
                %button{formaction: twitter_login_path, formmethod: :post,
                        class: "button button-twitter"}
                  %i.fa.fa-fw.fa-twitter
                  Log in with Twitter
            - if ENV["DISABLE_LOG_INS"] == 'facebook'
              %p.text-center
                We're still waiting for our Facebook app to be approved, and we're
                working on adding support for signing up with an email address. In
                the meantime, you can log in with Twitter.
            %p.text-center.small.subdued
              (We will never share anything with anyone about your voting preferences <br/> or post to your feed without your permission)
            %p.text-center
              = link_to "/faq#login", class: "small", target: "_blank" do
                Why do I need to log in with
                = log_in_methods + "?"
