-# fkorning
-# floating right-aligned title menu using fa icons (only has "donate" for now) 
-# using header class as unsure of mechanism to include .scss or compiled css.

%titler
  .list-group
    .list-group-item
      %a.button{:href => "https://www.crowdfunder.co.uk/swapmyvote", class: "button titler"}
        -# %i.fa.fa-fw.fa-paypal
        %i.fa.fa-fw.fa-gbp 
        donate
